body{
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

#board{
  margin:auto;
  margin-top:20px;
  display:grid;
  gap:5px;
}

.cell{
  width:60px;
  height:60px;
  background:#333;
  border:2px solid #000;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  cursor:pointer;
}

.cell.dug{
  background:#777;
}
