body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

#board {
  display: grid;
  gap: 5px;
  width: max-content;
  margin: auto;
  margin-top: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  background: #444;
  border: 2px solid #222;
  font-size: 28px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.cell.dug {
  background:#777;
}
