body{
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
  padding:20px;
}
#board{
  display:grid;
  gap:5px;
  margin:auto;
}
.cell{
  width:60px;
  height:60px;
  background:#333;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  cursor:pointer;
  border:2px solid black;
}
.cell.dug{
  background:#777;
}
