body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#menu, #controls, #info {
    margin-bottom: 20px;
}

#board {
    margin: 0 auto;
    display: grid;
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    background: #333;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

.cell.dug {
    background: #777;
}
