
body{
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}
#board{
  display:grid;
  gap:5px;
  margin:auto;
  margin-top:20px;
}
.cell{
  width:60px;
  height:60px;
  background:#333;
  display:flex;
  justify-content:center;
  align-items:center;
  border:2px solid black;
  font-size:26px;
  cursor:pointer;
}
.cell.dug{ background:#777; }
