<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buscaminas</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Buscaminas 1v1</h1>
<button id="create">Crear sala</button>
<br><br>
<input id="room" placeholder="Código">
<button id="join">Unirse</button>
<br><br>
<button id="copy" style="display:none;">Copiar link</button>

<p id="phase"></p>
<p id="turn"></p>
<p id="lives"></p>
<p id="timer"></p>

<br>
<button id="size3">3x3</button>
<button id="size5">5x5</button>
<button id="size7">7x7</button>
<button id="size9">9x9</button>
<br><br>
<button id="finish">Listo</button>

<div id="board"></div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/static/game.js"></script>
</body></html>
